<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function myFunction() {
            alert("Call administrator on 86*******!");
        }
    </script>
</head>
<body>
    @Html.Partial("_NavBar")

    <!--  class=container body-content -->

        <div class="video-container">
            <video autoplay="autoplay" loop="loop" muted>
                <source src="~/Video/mainvideo.mp4" />
            </video>
        </div>

        @RenderBody()


        <footer>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
